/* header.css */
header {
    display: flex;
    font-family: Raleway, sans-serif, Arial;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 75px;
    transition: opacity 0.3s ease-in-out; /* Smooth transition on opacity change */
    animation: fadeInHeader 0.3s ease-in-out; /* Add a fade-in effect */
}

@keyframes fadeInHeader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo {
    font-size: 20px;
    font-weight: bolder;
}

.logo a {
    display: block;
}

.logo img {
    height: 85px;
    width: auto;
    border-radius: 50%;
    margin-left: 50px;
}

.nav-links {
    margin-right: 10%;
    display: flex;
    gap: 100px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease-in-out; /* Smooth hover transition */
    font-size: 18px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration:overline;
    color: #c0392b;
}

