/* Extending styles from portfolio.css */
body {
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.project-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #f4f4f4;
}

.project-hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 150px;
}

.project-text h1 {
    font-size: 2rem;
    color: #333;
    animation: fadeInUp 1s ease;
}

.project-text p,
.project-details p,
.project-details ul li {
    font-size: 1rem; /* Unified font size for all text elements */
    color: #666;
    line-height: 1.8;
    max-width: 75%; /* Limit width to allow wrapping */    
    word-wrap: break-word; /* Break long words if needed */
    animation: fadeInUp 1.5s ease;
}

.project-details ol li {
    font-size: 1rem; /* Unified font size for all text elements */
    color: #666;
    line-height: 1.8;
    max-width: 75%; /* Limit width to allow wrapping */    
    word-wrap: break-word; /* Break long words if needed */
    animation: fadeInUp 1.5s ease;
}

.project-image img {
    border-radius: 8px;
    animation: fadeIn 2s ease;
}

.project-details {
    padding: 50px 100px;
    background-color: #fff;
}

.project-details h2,
.project-details h3 {
    font-size: 1.5rem; /* Unified heading style for H2 and H3 */
    color: #424242;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease;
}

.project-details ul{
    padding-left: 20px;
}

/* Link Hover Effect */
.project-details a:hover {
    color: #0073e6; /* Accent color for links on hover */
    text-decoration: underline;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
    .project-hero-content,
    .project-text,
    .project-image {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .project-text, 
    .project-image {
        width: 100%;
    }

    .project-image img {
        margin-top: 20px;
    }

    .project-details {
        padding: 20px;
    }
}

